body {
    box-sizing: border-box;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}
.topnav a:hover {
    background-color: #ddd;
    color: blue;
}
#summary {
    float: left;
}
.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}
aside {
    color: red;
}