table ,tr,td {
    border-collapse: collapse;
    height: auto;
    width: 720px;
    box-sizing: border-box;
    margin: 280px;
    border: 2px solid black;

}
th {
    text-align:left;
}
td {
    text-align: right;
}
table tr td:nth-child(1) {
    text-align :left;
}
#row1 {
    background-color: brown;
}
#row2 {
    background-color :darksalmon;
}
#row3 {
    background-color :antiquewhite ;
}
#row4 {
    background-color :darkgray;
}